{
  "presets": ["node6", "stage-3"],
  "plugins": [
    ["transform-flow-strip-types"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true
    }
  }
}
