{
  "presets": ["node6", "stage-3"],
  "plugins": [
    ["transform-inline-imports-commonjs"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true
    },
    "test": {
      "plugins": [
        ["transform-inline-imports-commonjs"]
      ]
    }
  }
}
