# Logs
*.log
npm-debug.log*
yarn-error.log

# Dependencies
node_modules/

# Coverage
coverage/

# Transpiled files
dist/
zip/

# VS Code
.vscode
jsconfig.json

# Misc
.DS_Store
tmp/

# Sublime Text
*.sublime-*


src/config/sequelize.js
src/config/loggly.js
