# Logs
*.log
npm-debug.log*
yarn-error.log

# Dependencies
node_modules/

# Coverage
coverage/

# Transpiled files
dist/

# VS Code
.vscode
!.vscode/settings.json
!.vscode/tasks.js

# Misc
.DS_Store
tmp/
